{% extends 'base.html' %}
{% load navbar_tag %}

{% block content %}
    <div class='container'>
        {% if user|has_group:'club rep' %}
            <h1 class="display-4 text-center">{{account_name}} Bookings</h1>
        {% else %}
            <h1 class="display-4 text-center">All Bookings</h1>
        {% endif %}
        <br/>
        {% for transaction in transactions %}
            <div class="card">
                <div class="card-body">
                        {% if user|has_group:'club rep' %}
                            <p class="card-text">
                                <strong>Transaction made by club rep:</strong> {{ transaction.account.user.first_name }} {{ transaction.account.user.last_name }}
                            </p> 
                        {% endif %}
                        <p class="card-text">
                            <strong>Transaction ID:</strong> {{ transaction.id }}
                        </p> 
                        <p class="card-text">
                            <strong>Payment made:</strong> {{ transaction.date_of_payment }}
                        </p> 
                        <p class="card-text">
                            <strong>Tickets:</strong> {{ transaction.booking.number_of_tickets }} | {{transaction.booking.ticket.ticket}} | £{{transaction.booking.discount_cost}}
                        </p> 
                        <p class="card-text">
                            <strong>Film Showing:</strong> {{ transaction.booking.showing.film.title }} <strong>on Screen:</strong>  {{ transaction.booking.showing.screen.number }}
                            <strong>Playing on:</strong> {{ transaction.booking.showing.date }} <strong>at:</strong> {{ transaction.booking.showing.time }}
                        </p> 
                    </div>
                    {% if user|has_group:'club rep' or user|has_group:'student'%}
                        <div class="card-footer">
                                <a href="{% url 'cancel-booking' transaction.booking.pk %}" class="btn btn-danger">Cancel Booking</a>
                        </div>
                    {% elif user|has_group:'cinema manager' or user|has_group:'staff'%}
                        <div class="card-footer">
                                <a href="{% url 'approve-booking-cancelled' transaction.booking.pk %}" class="btn btn-info">Approve Cancellation</a>
                        </div>
                    {% endif %}
            </div>
            <br/>
        {% endfor %}
    </div>


{% endblock content %}

