{% extends 'base.html' %}

{% block content %}
    <div class='container'>
        <div class="post-entry">
            
            <h1 class='display-3'>{{ film.title }}</h1>
            <p>{{ film.film_description }}</p>
            <p>{{ film.age_rating }}</p>
            <p>{{ film.duration }}</p>
            
            <a href={% url 'film_update' film.pk %} class="btn btn-secondary" role="button">Edit Film Details</a>
            <a href={% url 'film_delete' film.pk %} class="btn btn-danger" role="button">Delete Film</a>
        </div>
    </div>
{% endblock %}
