{% extends 'base.html' %}

{% block content %}
    <div class='container'>
        <h1 class="display-4 text-center">Films</h1>
        <br/>
        {% for film in all_films %}
            <div class="card">
                <p class="card-header lead ">Book your ticket now!</p>
                    <div class="card-body">
                        <h5 class="card-title">{{ film.title }}</h5>
                        <p class="card-text">{{ film.film_description }}.</p>
                        <p class="card-text">{{ film.duration }}.</p>
                        <a href="{% url 'film_detail' film.pk %}" class="btn btn-primary">More details</a>
                    </div>
            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}

