{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}</p>
        <p><a href={% url 'logout' %}>Logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href={% url 'login' %}>Login</a>
        <a href={% url 'signup' %}>SignUp</a>
    {% endif %}

    <div>
        <h2>Homepage Films</h2>
        <ul>
            {% for film in all_films  %}
                <li><h3><a href="{% url 'film_detail' film.pk %}">{{ film.title }}</a></h3></li>
                <li>{{ film.age_rating }}</li>
                <li>{{ film.duration }}</li>
                <li>{{ film.film_description }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

