{% extends 'base.html' %}

{% block content %}
    <div class='container'>
        <h1 class="display-4 text-center">Films</h1>
        <br/>
        {% for showings in all_showings %}
            <div class="card">
                    <div class="card-body">
                        {{ showings }}
                        {% comment %} <h5 class="card-title">{{ film.title }}</h5>
                        <p class="card-text">{{ film.film_description }}.</p>
                        <p class="card-text">{{ film.duration }}.</p> {% endcomment %}
                    </div>
                    {% comment %} <div class="card-footer">
                            <a href="{% url 'film-detail' film.pk %}" class="btn btn-primary">More details</a>
                    </div> {% endcomment %}
            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}

