{% extends 'base.html' %}

{% block content %}
    <div class='container'>
        <div class="post-entry">
            
            <h1 class='display-3'>{{ showing.title }}</h1>
            <p>{{ showing.film }}</p>
            <p>{{ showing.time }}</p>
            <p>{{ showing.date }}</p>
            
            <a href={% url 'showing-update' showing.pk %} class="btn btn-secondary" role="button">Edit Showing</a>
            <a href={% url 'showing-delete' showing.pk %} class="btn btn-danger" role="button">Delete Showing</a>
            <a href="{% url 'showing-all' %}" class="btn btn-dark">Back</a>
        </div>
    </div>
{% endblock %}
