{% extends 'base.html' %}

{% block content %}
    <div class='container'>
        <div class="post-entry">
            
            <h1 class='display-3'>{{ film.title }}</h1>
            <p>{{ screen.number }}</p>
            <p>{{ screen.capacity }}</p>
            
            <a href={% url 'screen-update' screen.pk %} class="btn btn-secondary" role="button">Edit Screen Details</a>
            <a href={% url 'screen-delete' screen.pk %} class="btn btn-danger" role="button">Delete Screen</a>
            <a href={% url 'screen-all' %} class="btn btn-dark" role="button">Back</a>
        </div>
    </div>
{% endblock %}
