{% extends 'base.html' %}

{% block content %}
    <div class='container'>
        <h1 class="display-4 text-center">Screens</h1>
        <br/>
        {% for screen in all_screens %}
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Screen {{ screen.number }}</h5>
                        <br>
                        <p class="card-text">Seat Capacity {{ screen.capacity }}</p>
                    </div>
                    <div class="card-footer">
                            <a href="{% url 'screen-details' screen.pk %}" class="btn btn-primary">Update details</a>
                    </div>
            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}

